    img {
        position: absolute;
        width: 175px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    header {
        text-align: left;
    }
    footer {
        text-align: center;
    }
    .headerFooter {
        background-color: darkslategray;
        font-family: 
        padding: 1em;
        border-radius: 8px;
        color: beige;
    }
    #name {
        font-size: 3em;
        padding: 110px;
    }
    #bodyDiv {
        max-width: 800px;
        margin: block;
        margin: auto;
    }
    #content {
        padding: 10px;
        font-family: Verdana, Tahoma, sans-serif;
    }
    #byui {
        color: beige;
    }