/* ----- baseline view ----------------------------------- */
* {box-sizing: border-box;}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

header, footer {
    background-color: rgb(83, 72, 94);
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
}

.content {
    background-color: burlywood;
}
.content > div {
    padding: 5px;
    margin: 10px;
    background-color: bisque;
    border: 2px solid black;
}

.nav > div {
    text-decoration: underline;
    text-align: center;
    width: 33%;
    float: left;
    padding-bottom: 10px;
 }

 #navTitle {
     text-align: center;
     padding: 5px;
 }
 hr {
     width: 90%;
     margin-top: 0px;
 }

/* ----- tablet view (37.5 em) -------------------------- */
@media only screen and (min-width: 37.5em) {

    h1, h2 {
        background-color: red;
    } 
}

/* ----- Desktop view (60 em) -------------------------- */
@media only screen and (min-width: 60em) {

    h1, h2 {
        background-color: blue;
    } 
}