/* ----- baseline view ----------------------------------- */
* {box-sizing: border-box;}

main {
    display: grid;
    grid-template-columns: 1fr;
}

h1, h2 {
    background-color: darkslategray;
    color: white;
}



/* ----- tablet view (37.5 em) -------------------------- */
@media only screen and (min-width: 37.5em) {

    h1 {
        background-color: cadetblue;
    } 
}

/* ----- Desktop view (60 em) -------------------------- */
@media only screen and (min-width: 37.5em) {

    h1 {
        background-color: rgb(23, 81, 83);
    } 
}